* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: flex;
    justify-content: space-around;
    align-items: center;
}

#interface {
    border: 5px solid black;
    border-radius: 100px;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: darkred;
}

h1 {
    text-align: center;
    color: white;
}

#screens {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    background-color: lightgrey;
}

#top-fourth {
    border: 1px solid gray;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
}

#middle-half {
    border: 1px solid gray;
    width: 100%;
    height: 50%;
}

#bottom-fourth {
    border: 1px solid gray;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
}

#buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

img {
    width: 100%;
}